@import "tailwindcss";

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textGlow {

    0%,
    100% {
        text-shadow: 0 0 6px #facc15;
    }

    50% {
        text-shadow: 0 0 16px #facc15;
    }
}